#article-showcase{
    height: 400px;
    position: relative;
    background: url('../images/story.jpg');
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    color: #fff;
    margin-bottom: 60px;
}

#article-showcase .article-showcase-content{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
